style.css

body
{
  margin: 0;
  padding: 0;
  background: rgb(202, 207, 218);
}

.container
{
  margin: 50px 50px 50px;
  position: relative;
  width: 25%;
}

.image
{
  display: block;
  width: 100%;
  height:auto;
}

.overlay
{
  position:absolute;
  bottom:0;
  left: 0;
  right:0;
  background-color: white;
}


.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); 
}
